body {
     font-family: "Poppins", sans-serif;
     font-size: 1.4em;
     background-color: #81dbfd;
     margin: 2em;
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 1200px;
}
.intro {
     display: flex;
     align-items: center;
     margin: -1em 4em 2em 4em;
     max-width: 850px;
}
.intro img {
     padding: 2em;
}
h2 {
     font-family: 'Atma', sans-serif;
}
button {
     background-color: #008001;
     font-family: 'Atma', sans-serif;
     font-size: 1.2em;
     color: white;
     margin-left: 2em;
}