/* Styles Upon Styles */
/* Universal Styles */
body {
     font-family: "Poppins", sans-serif;
     font-size: 1.2em;
     background-color: #81dbfd;
     margin: 2vw 2vw 2vw 6vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 1200px;
}
h1 {
     font-size: 3em;
}
.star {
     font-size: 1em;
     color: #D80000;
     margin: 0;
}
.star2 {
     font-size: 1.3em;
     color: #D80000;
     margin: 0em 0.5em 0em 0.5em;
}
h2 {
     font-family: 'Atma', sans-serif;
     font-size: 1.4em;
     margin-top: -1.3em;
}
img {
     border-radius: 20%;
}
.intro {
     display: flex;
     align-items: center;
     margin: 0em 2em 2em 2em;
     max-width: 850px;
}
.intro img {
     padding: 2em;
}
button {
     background-color: #008001;
     font-family: 'Atma', sans-serif;
     font-size: 1.2em;
     color: white;
     border-color: #989898;
     border-style: solid;
     border-radius: 50%;
     padding: 0.5em;
     margin-left: 2em;
}
button:active {
     background-color: #004e00;
     transform: translateY(2px);
}
/* This Guy Styles */
.arrowd {
     font-size: 2.3em;
     transform:rotate(-60deg);
     display: inline-block;
     margin-top: -0.1em;
     margin-left: -0.2em;
     margin-bottom: 0;
}
.thisGuy {
     display: flex;
     flex-direction: row;
     font-weight: bold;
     font-family: 'Atma', sans-serif;
     color: #724C00;
     font-size: 1.5em;
     margin-top: -2em;
     margin-left: 3em;
}
/* To Do Styles */
form {
     display: flex;
     flex-direction: row;
     align-items: center;
}
.adder input {
     height: 1.2em;
     font-size: 1.4em;
     margin-left: 1em;
}
.adder button {
     margin-left: 1em;
}
ul {
     list-style: none;
     align-items: flex-start;
     margin-right: 6vw;
}
li {
     display: flex;
     align-items: center;
     font-family:Arial, Helvetica, sans-serif;
     margin-left: 5vw;
     margin-top: 2em;
}
.motivate {
     margin-right: 2em;
}
.motivate p {
     font-size: 0.8em;
     margin-top: -0.3vw;
     text-align: center;
}
.checkplease {
     transform: scale(2.5);
     margin-right: 2vw;
}
span {
     margin: 1.3em;
     font-size: 1.4em;
}
span.done {
     color: grey;
     text-decoration: line-through;
}
.removeX {
     margin-right: 2em;
     margin-top: -0.4em;
     border-radius: 20%;
     padding: 0em 0.5em;
}
.clear {
     margin: 10vw 15vw;
}
.baleeted {
     display: none;
     font-family: "Atma", sans-serif;
     margin-top: -10vw;
}
/* Media Queries */
@media screen and (max-width: 700px) {
     body {
          margin: 1vw;
     }
     h1 {
          font-size: 1.6em;
     }
     h2 {
          font-size: 0.8em;
     }
     .star {
          font-size: 0.8em;
     }
     .star2 {
          margin: 0em;
     }
     .intro {
          flex-direction: column-reverse;
          font-size: 0.7em;
          max-width: 400px;
     }
     .intro img {
          height: 120px;
          width: 120px;
          padding: 0em;
     }
     .arrowd {
          font-size: 2em;
          margin-top: 0;
          margin-left: -0.1em;
     }
     .thisGuy {
          margin-top: -1em;
          margin-left: 1em;
     }
     button {
          margin-left: 1vw;
          font-size: 0.9em;
     }
     .adder {
          max-width: 300px;
     }
     .adder h2 {
          font-size: 0.9em;
     }
     .adder input {
          height: 1.2em;
          font-size: 1em;
          margin-left: 1em;
          max-width: 200px;
     }
     .motivate img {
          height: 80px;
          width: 80px;
          padding-right: 3vw;
     }
     .checkplease {
          transform: scale(2);
     }
     ul {
          margin-left: 2vw;
     }
     li {
          margin-left: 0;
          font-size: 0.7em;
     }
     .motivate {
          margin-left: 1vw;
          margin-right: 1em;
     }
     .baleeted {
          font-size: 0.7em;
     }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
     body {
          font-size: 1em;
     }
     .intro img {
          height: 150px;
          width: 150px;
     }
     .thisGuy {
          margin-left: 2.7em;
     }
     ul {
          margin-right: 6vw;
     }
     li {
          margin-left: 3vw;
     }
     .motivate img {
          height: 100px;
          width: 100px;
     }
}